.bg-cover{
    background-size: cover;
    background-position: center center;
  }
  
nav{
    box-shadow:0 10px 40px gray;
    position: relative;

    .bar{
      display: none;
      @include pad{
        position: absolute;
        top: 10px;
        right: 0;
        display: block;
        cursor: pointer;
        font-size: 26px;
        padding: 10px;
        color: $bar-color;
      }
    }

}
.navBar{
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo{
      height: 50px;
      width: 120px;
      background-image: url('https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/petpet-week8/logo.svg');
      @include pad{
        margin: 0 auto;
      }
    }

    .navBar-item {
      z-index: 2;
      @include pad{
        position: absolute;
        top: 60px;
        bottom: 0;
        left: 0;
        right: 0;
      }
     
    .navBar-list{
      display: flex;
      align-items: center;
      padding: 20px 0;
      @include pad{
        opacity:0;
        display: block;
        background-color: $reverse-text;
        height: 100vh;
      }
      
      li{
        padding: 0 30px;
        @include pad{
          text-align: center;
          padding: 10px 0;
          border-bottom: 2px solid #DEDEDE;
        }
        
        a{
          text-decoration: none;
          color: $main-color;
          &:hover{
            border-bottom: 1px solid $main-color;
          }
          @include pad {
            font-size: 20px;
            &:hover{
              border-bottom: 2px solid $main-color;
            }
          }
        }
      }
    }
    .navBar-active{
      opacity:1;
      transition:all .5s;
    }
  }
}




  